.parrafo-contacto {
    text-align: center;
    margin-top: $espaciado-general * 2;
}

.main-contacto {
    @include flex-column;
    gap: $espaciado-general * 2;
}

@media (min-width: $tablet) {
    .main-contacto {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        justify-items: center;
        align-items: center;
    }
}

iframe{
    max-width: 100%;
}

form {
    @include flex-column;
    gap: $espaciado-general;
    .campos{
        @include flex-column; 
    }
    .botones-form{
        background-color: &color-secundario;
        font-weight: bold;
    }
}